<div class="container-fluid">
  <%= render "shared/error_messages", resource: resource %>

  <main class="form-signin w-100 m-auto">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
      
      <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

      <div class="form-floating">
        <%= f.text_field :full_name, autocomplete: "full_name", class: "form-control", placeholder: "Your name" %>
        <%= f.label :full_name %>
      </div>
      <br/>

      <div class="form-floating">
        <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "name@example.com" %>
        <%= f.label :email %>
      </div>
      <br/>

      <div class="form-floating">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Your password" %>
        <%= f.label :password %>
      </div>
      <br/>

      <div class="form-floating">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Repeat password" %>
        <%= f.label :password_confirmation %>
      </div>

      <div class="checkbox mb-3">
        <%= f.check_box :admin %>
        <%= f.label :admin, "I'm an admin" %>
      </div>

      <%= f.submit "Sign up", class: "w-100 btn btn-lg btn-primary" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </main>
</div>