<div class="form-floating">
		<%= f.text_field :location, autocomplete: "location", class: "form-control", placeholder: "Location" %>
		<%= f.label :location %>
</div>
<br/>

<div class="form-floating">
		<%= f.text_field :address, autocomplete: "address", class: "form-control", placeholder: "Address" %>
		<%= f.label :address %>
</div>
<br/>

<div class="form-floating">
		<%= f.text_field :phone_number, autocomplete: "phone_number", class: "form-control", placeholder: "Phone number" %>
		<%= f.label :phone_number %>
</div>
<br/>

<div class="form-floating">
		<%= f.text_field :cell_phone_number, autocomplete: "cell_phone_number", class: "form-control", placeholder: "CellPhone number" %>
		<%= f.label :cell_phone_number %>
</div>
<br/>
<div class="form-floating">
		<%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "Contact email" %>
		<%= f.label :email %>
</div>