<div class="modal fade" id="newRecordModal" tabindex="-1" aria-labelledby="newRecordModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newRecordModalLabel"><%= "New #{resource}" %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: model) do |f| %>
        <% if model.errors.any? %>
            <div style="color: red">
            <h2><%= pluralize(model.errors.count, "error") %> prohibited this admin from being saved:</h2>
            <ul>
                <% model.errors.each do |error| %>
                <li><%= error.full_message %></li>
                <% end %>
            </ul>
            </div>
        <% end %>
        <% if controller.controller_name == 'dealerships' %>
          <%= render "shared/dealership_form_fields", f: f %>
        <% else %>
          <%= render "shared/car_form_fields", f: f %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<%= f.submit "Save", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>