<!DOCTYPE html>
<html>
  <head>
    <title>SonatafyChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="<%= 'auth-body text-center' if devise_controller? %>">
    <div class="container-fluid">
      <% if !devise_controller? %>
        <%= render "shared/navbar" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
